.Home, .Profile {
  text-align: center;
}

.Home-header, .profile-header {
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content_home, .profile_content{
  text-align: left;
  padding-left: 7.5vw;
  padding-top: 10vh;
  color: white;
  font-family: "Varela Round", sans-serif;
}

.profile_form > * > *{
  padding-top: 3.5vh;
}

.field > .scris{
  text-align: left;
  color: white;
  font-family: "Varela Round", sans-serif;
  margin-top: 1.5vh;
}

.profile_form > .submit{
  text-align: left;
  color: white;
  font-family: "Varela Round", sans-serif;
  margin-top: 5vh;
  margin-left: 7.5vw;
  margin-bottom: 5vh;
}

.buton_logout{
  margin: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
}