.Home {
  text-align: center;
  background-color: #299745;
  height: 100vh;
}

.Home-header {
  font-family: "Varela Round", sans-serif;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
