.shoppingcart{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 2vw;
    padding-bottom: 4vh;
}

.products {
    text-align: center;
    background-color: #222430;
}

.products-header {
    font-family: "Varela Round", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    padding: 0vh 3vw 5vh 3vw;
}

.categories > * {
    text-decoration: none;
    color: white;
}

.categories > * > * > * {
    margin: 5px;
    height: 30vh;
    width: 20vw;
    margin: 2.5vh 0 7.5vh 2.5vw;
    text-align: center;
}

.categories > * > * > * > *{
    margin: auto;
}

.procesoare{
    background-image: url("https://st2.depositphotos.com/1000128/7250/i/950/depositphotos_72503579-stock-photo-modern-cpu.jpg");
    background-size: 100% 100%;
}

.placi_video{
    background-image: url("https://cdn.staticneo.com/n/9/evgagtx1080tireview_thumb800_display.jpg");
    background-size: 100% 100%;
}

.surse{
    background-image: url("https://media.istockphoto.com/id/119939193/photo/power-supply-box.jpg?s=612x612&w=0&k=20&c=m5XVUvaALuJlmgPhxddtKR7YH01bf5MxIqbVxcxSacQ=");
    background-size: 100% 100%;
}

.memorii_ram{
    background-image: url("https://cdn.mos.cms.futurecdn.net/TGdfym6rGun8dsEHYonV3.jpg");
    background-size: 100% 100%;
}

.placi_baza{
    background-image: url("https://cdn.pixabay.com/photo/2014/12/11/22/10/board-564815__480.jpg");
    background-size: 100% 100%;
}

.ssd{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUxKWPGleUuzpWdFRB1YjaQWIyvInX73e-9Q&usqp=CAU");
    background-size: 100% 100%;   
}

.carcase{
    background-image: url("https://i.pcmag.com/imagery/roundups/05hdyk7k8eQlymJjfyeSfwC-48..v1616796995.jpg");
    background-size: 100% 100%;   
}