.pag_carcase{
    background-color: #222430;
    color: white;
    padding-left: 2.5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.pag_carcase-header{
    text-align: left;
    padding-bottom: 10vh;
    margin-left: 2.5vw;
}

.pag_carcase-content{
    display: flex;
    flex-direction: row;
}

.filtre_carcase{
    height: fit-content;
    padding: 1%;
    border-color: white;
    border-width: 2px;
    border-style: dotted;
    margin-top: 12.5vh;
}

.filtre_carcase > :first-child{
    margin-bottom: 5vh;
}

.filtre_carcase > :nth-child(2){
    margin-bottom: 2.5vh;
}

.rezultate{
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.contents{
    display: flex;
    width: 75vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.contents > * {
    margin: 7.5vh 5vw 0 0;
    padding: 1%;
    display: block;
    border-radius: 12px;
    border-color: black;
    border-width: 7px;
    border-style: dashed;
}

.contents > * > img{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 2.5vh;
}

.contents > * > :nth-child(2){
    text-align: center;
    padding-bottom: 2.5vh;
}

.contents > * > :nth-child(3){
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 2.5vh;
}

.contents > * > :nth-child(4){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.contents > * > :nth-child(4) > :nth-child(2){
    margin-left: auto;
    background-color: green;
    color: white;
}

.sortare_carcase > :first-child{
    display: flex;
    flex-direction: row;
    width: fit-content;
    color: white;
    margin-bottom: 7.5vh;
}

.sortare_carcase > :first-child > :first-child{
    margin-top: 1vh;
}