.pag_cpus{
    background-color: #222430;
    color: white;
    padding-left: 2.5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.pag_cpus-header{
    text-align: left;
    padding-bottom: 10vh;
    margin-left: 2.5vw;
}

.pag_cpus-content{
    display: flex;
    flex-direction: row;
}

.filtre_cpus{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-color: white;
    border-width: 2px;
    border-style: dotted;
    margin-top: 12.5vh;
}

.filtre_cpus > :first-child{
    margin-bottom: 2.5vh;
}

.filtre_cpus > :nth-child(n+2){
    margin-top: 2.5vh;
}

.sortare_cpus > :first-child{
    display: flex;
    flex-direction: row;
    width: fit-content;
    color: white;
    margin-bottom: 7.5vh;
}

.sortare_cpus > :first-child > :first-child{
    margin-top: 1vh;
}