.rezultate{
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.contents{
    display: flex;
    width: 78vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.contents > * {
    margin: 7.5vh 5vw 0 0;
    padding: 1%;
    display: block;
    border-radius: 12px;
    border-color: black;
    border-width: 7px;
    border-style: dashed;
}

.contents > * > img{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 2.5vh;
}

.contents > * > :nth-child(2){
    text-align: center;
    padding-bottom: 2.5vh;
}

.contents > * > :nth-child(3){
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 2.5vh;
}

.contents > * > :nth-child(4){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.contents > * > :nth-child(4) > :nth-child(2){
    margin-left: auto;
    background-color: green;
    color: white;
}